<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.cinerific.standardavd</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/prahlin/Library/Android/sdk/emulator/emulator</string>
    <string>-avd</string>
    <string>Cinerific_Standard_Tablet</string>
    <string>-port</string>
    <string>5554</string>
    <string>-skin</string>
    <string>cinerific_pixel_tablet_1280</string>
    <string>-skindir</string>
    <string>/Users/prahlin/gh/cinerific/emulator/skins</string>
    <string>-cores</string>
    <string>2</string>
    <string>-gpu</string>
    <string>host</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <false/>
  <key>StandardOutPath</key>
  <string>/Users/prahlin/Library/Logs/Cinerific/standard-emulator.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/prahlin/Library/Logs/Cinerific/standard-emulator.err.log</string>
</dict>
</plist>
